<h1>First_Name : <%=@user.first_name%></h1>
<h1>Last_Name : <%=@user.last_name%></h1>
<h1>Description : "<%=@user.description%>"</h1>
<h1>eMail : <%=@user.email%></h1>
<h1>Age : <%=@user.age%></h1>
<h1>City : <%=@user.city.name%></h1>
